.account-page
  %header.header
    %h1.header__logo
      =link_to root_path do
        = image_tag '/images/logo-main.png', height:"52px", width:"190px;", alt: "mercari"
    %nav.header__progress-bar
      = image_tag '/images/progress-bar.png',height:"50px",width:"500px;"
  %main.registration
    %section.registration__container
      %h2.registration__title 支払い方法
      %div.inner-registration
        = form_for @user, url: user_registration_path(@user) do |f|
          .inner-registration__content
            .inner-registration__contents--title.side
              カード番号
            .inner-registration__contents--require.side
              必須
            .inner-registration__contents--input
              %input{type:"text", placeholder:"半角数字のみ",name:"content"}
            .inner-registration__contents--icons
            .inner-registration__contents--title.side
              有効期限
            .inner-registration__contents--require.side
              必須
            .inner-registration__contents--select
              .inner-registration__contents--select-month
                %form{action: "#", method: "GET"}
                %select{name: "content"}
                  %option{value: ""} ---
                  %option{value: "01"} 01
                月
              .inner-registration__contents--select-year
                %form{action: "#", method: "GET"}
                %select{name: "content"}
                  %option{value: ""} ---
                  %option{value: "19"} 19
                年 
            .inner-registration__contents--title.side
              セキュリティコード
            .inner-registration__contents--require.side
              必須
            .inner-registration__contents--input-name
              %input{type:"text", placeholder:"カード背面4桁もしくは3桁の番号",name:"content", class: "input-firstname"}
            .inner-registration__contents--attentions-guide
              %p
                %i.fa.fa-question-circle
                カード裏面の番号とは？
            .hidden-information
              = f.hidden_field :nickname, value: @user.nickname
              = f.hidden_field :email, value: @user.email
              = f.hidden_field :last_name, value: @user.last_name
              = f.hidden_field :first_name, value: @user.first_name
              = f.hidden_field :last_name_kana, value: @user.last_name_kana
              = f.hidden_field :first_name_kana, value: @user.first_name_kana
              = f.hidden_field :birth_day, value: @user.birth_day
              = f.hidden_field :password, value: session[:received_form]["user"]["password"]
              = f.hidden_field :password_confirmation, value: session[:received_form]["user"]["password_confirmation"]
              = f.fields_for :address do |address|
                = address.hidden_field :postal_code, value: @user.address.postal_code
                = address.hidden_field :prefecture, value: @user.address.prefecture
                = address.hidden_field :city, value: @user.address.city
                = address.hidden_field :street, value: @user.address.street
                = address.hidden_field :building_name, value: @user.address.building_name
                = address.hidden_field :phone, value: @user.address.phone
            .inner-registration__contents--next-btn
              = f.submit "次へ進む", class: "btn-next"
              -# =link_to "次へ進む", new_users_signup_path, method: :get, class: 'btn-next'
  = render 'devise/registrations/footer'