= render partial: "items/header"
= render "layouts/flash-message"
.wrapper
  = render partial: "mypages/navigationbar"
  .logout-contents
    = link_to destroy_user_session_path, method: :delete, class:"btn" do
      .logout-botton
        ログアウト
= render partial: "items/footer"
