= render partial: "items/header"
.wrapper
  = render partial: "navigationbar"
  .mypage-contents
    .mypage-header
      =image_tag('/images/700x200.png', height:"200px", width:"700px", class:"mypage-details__background-image")
      =link_to root_path, method: :get, class:"btn" do
        .mypage-details
          =image_tag('/images/60x60.png', height:"60px", width:"60px", class: "mypage-details__myicon")
          %p.mypage-details__nickname
            = current_user.nickname
          %p.mypage-details__rating
            評価：０ 出品数：０
    .mypage-informations
      %ul.information-title
        %li.information-title__news.active
          お知らせ
        %li.information-title__todos
          やることリスト
      %ul.information-news
        = render partial: "information-content"
        = render partial: "information-content"
        = render partial: "information-content"
        %li.information-last
          =link_to root_path, method: :get, class:"btn" do
            .information-last__link-btn
              一覧を見る
      %ul.information-todos.hidden
        = render partial: "information-content"
        = render partial: "information-content"
        = render partial: "information-content"
        = render partial: "information-content"
        %li.information-last
          =link_to root_path, method: :get, class:"btn" do
            .information-last__link-btn
              一覧を見る
    .mypage-histories
      .histories-top
        購入した商品
      %ul.histories-title
        %li.histories-title__trading.active
          取引中
        %li.histories-title__past-trading
          過去の取引
      %ul.histories-trading
        = render partial: "histories-content"
        = render partial: "histories-content"
        %li.histories-last
          =link_to root_path, method: :get, class:"btn" do
            .histories-last__link-btn
              一覧を見る
      %ul.histories-past-trading.hidden
        = render partial: "histories-content"
        = render partial: "histories-content"
        = render partial: "histories-content"
        = render partial: "histories-content"
        %li.histories-last
          =link_to root_path, method: :get, class:"btn" do
            .histories-last__link-btn
              一覧を見る
= render partial: "items/footer"
