= render partial: "header"
.slide-top
  %div
    = link_to image_tag('/images/slide_bottom.png',height:"290px",width:"100%"),"/items/new/"
  %div
    = link_to image_tag('/images/slide_bottom.png',height:"290px",width:"100%"),"/items/new/"
  %div
    = link_to image_tag('/images/slide_bottom.png',height:"290px",width:"100%"),"/items/new/"
.pickup-bigframe
  ピックアップカテゴリー
  = render partial: "frame",locals: {group:"レディース"}
  = render partial: "frame",locals: {group:"メンズ"}
  = render partial: "frame",locals: {group:"ベビー・キッズ"}
  = render partial: "frame",locals: {group:"コスメ・香水・美容"}
.pickup-bigframe
  ピックアップブランド
  = render partial: "frame",locals: {group:"シャネル"}
  = render partial: "frame",locals: {group:"ルイヴィトン"}
  = render partial: "frame",locals: {group:"シュプリーム"}
  = render partial: "frame",locals: {group:"ナイキ"}
= render partial: "footer"
