= render partial: "items/header"

.account-page
  .main
    .title
      .title__item--name
        = @item.name

    .contents
      .contents__image
        .contents__image--main
          = image_tag @item.images[0].image, height:"300px", width:"300px"
        .contents__image--top  
          .contents__image--top--one
          = image_tag @item.images[0].image, height:"60px", width:"60px" if @item.images[0].present?
          .contents__image--top--second
          = image_tag @item.images[1].image, height:"60px", width:"60px" if @item.images[1].present?
          .contents__image--top--third
          = image_tag @item.images[2].image, height:"60px", width:"60px" if @item.images[2].present?
          .contents__image--top--fourth
          = image_tag @item.images[3].image, height:"60px", width:"60px" if @item.images[3].present?
          .contents__image--top--fifth
          = image_tag @item.images[4].image, height:"60px", width:"60px" if @item.images[4].present?
        .contents__image--bottom  
          .contents__image--bottom--sixth
          = image_tag @item.images[5].image, height:"60px", width:"60px" if @item.images[5].present?
          .contents__image--bottom--seventh
          = image_tag @item.images[6].image, height:"60px", width:"60px" if @item.images[6].present?
          .contents__image--bottom--eighth
          = image_tag @item.images[7].image, height:"60px", width:"60px" if @item.images[7].present?
          .contents__image--bottom--nineth
          = image_tag @item.images[8].image, height:"60px", width:"60px" if @item.images[8].present?
          .contents__image--bottom--tenth
          = image_tag @item.images[9].image, height:"60px", width:"60px" if @item.images[9].present?
      .contents-details
        .contents-details__user
          .contents-details__user-left
            出品者
          .contents-details__user-right
            .username
              = @item.user.nickname
            .user-ratings
              %p
                =fa_icon 'smile-o',class:"good"
                178
              %p
                =fa_icon "meh-o",class:"normal"
                3
              %p
                =fa_icon "frown-o",class:"bad"
                2
        .contents-details__category
          .contents-details__category-left
            カテゴリー
          .contents-details__category-right
            %li
              = @item.category.parent.parent.name
            %li
              =fa_icon "angle-right",class:"type__icon"
              = @item.category.parent.name
            %li  
              =fa_icon "angle-right",class:"type__icon"
              = @item.category.name
        .contents-details__brand
          .contents-details__brand-left
            ブランド
          .contents-details__brand-right
            = @item.brand
        .contents-details__status
          .contents-details__status-left
            商品の状態
          .contents-details__status-right
            = @item.condition
        .contents-details__fee
          .contents-details__fee-left
            配送料の負担
          .contents-details__fee-right
            = @item.shipping_fee
        .contents-details__method
          .contents-details__method-left
            配送の方法
          .contents-details__method-right
            = @item.shipping_method
        .contents-details__area
          .contents-details__area-left
            配送元地域
          .contents-details__area-right
            = @item.ship_out_area
        .contents-details__date
          .contents-details__date-left
            発送日の目安
          .contents-details__date-right
            = @item.ship_out_date
    .item-price
      %span.item-price-p
        = "¥#{@item.price}"
      %span.item-price__tax
        (税込み）
      %span.item-price__fee
        送料込み
    .item_buy-btn
      = link_to"購入画面に進む",buyers_path,method: :get,class:"btn",item_id: @item.id
    .message
      = @item.detail
    .item-button
      .item-button-left
        = fa_icon "heart-o"
        いいね！ 3
      .item-button-report
        = fa_icon "flag-o"
        不適切な商品の報告
      .item-button-right
        = fa_icon "lock"
        あんしん・あんぜんへの取り組み
  .comment
    .comment_block
      .comment_block-top
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment_block-text
        
      .comment_block-send-btn
        コメントする
    .nav_item-link
      .nav_item-link-left
        = fa_icon "angle-left"
        キティクロックスアクセサリー
      .nav_item-link-right
        クリスマス・プティング
        = fa_icon "angle-right"
    .links
      .links-box
        =link_to "https://www.facebook.com/" do 
          %i.fa.fa-facebook-square.links-box-fa-top
      
        =link_to "https://twitter.com/" do 
          %i.fa.fa-twitter-square.links-box-fa-mid
        
        =link_to "https://www.pinterest.jp/" do
          %i.fa.fa-pinterest-square.links-box-fa-low
  .bottom    
    .bottom-user-another-item
      = "#{@item.user.nickname}のその他の出品"
    .bottom-same-category-item
      ショルダーバッグその他の商品
    
  .last
    メルカリ
    =fa_icon "angle-right"
    本革ショルダーバッグ 牛革レディース鞄 本革ハンドバッグ 天然牛革 安い激安
= render partial: "items/footer2"