= render partial: "items/header"

.account-page
  .main
    .title
      .title__item--name
        ルイヴィトン サンダル ダミエ リボン パンプス

    .contents
      .contents__image
        .contents__image--main
          =image_tag('/images/item_main.png', height:"300px", width:"300px")
        .contents__image--top  
          .contents__image--top--one
            =image_tag('/images/item_sub.png', height:"60px", width:"60px")
          .contents__image--top--second
            =image_tag('/images/item_sub_sub.png', height:"60px", width:"60px")
          .contents__image--top--third
            =image_tag('/images/item_sub.png', height:"60px", width:"60px")
          .contents__image--top--fourth
            =image_tag('/images/item_sub_sub.png', height:"60px", width:"60px")
          .contents__image--top--fifth
            =image_tag('/images/item_sub.png', height:"60px", width:"60px")
        .contents__image--bottom  
          .contents__image--bottom--sixth
            =image_tag('/images/item_sub_sub.png', height:"60px", width:"60px")
          .contents__image--bottom--seventh
            =image_tag('/images/item_sub.png', height:"60px", width:"60px")
          .contents__image--bottom--eighth
            =image_tag('/images/item_sub_sub.png', height:"60px", width:"60px")
          .contents__image--bottom--nineth
            =image_tag('/images/item_sub.png', height:"60px", width:"60px")
          .contents__image--bottom--tenth
            =image_tag('/images/item_sub_sub.png', height:"60px", width:"60px")
      .contents-details
        .contents-details__user
          .contents-details__user-left
            出品者
          .contents-details__user-right
            .username
              イチゴ寺
            .user-ratings
              %p
                =fa_icon 'smile-o',class:"good"
                178
              %p
                =fa_icon "meh-o",class:"normal"
                3
              %p
                =fa_icon "frown-o",class:"bad"
                2
        .contents-details__category
          .contents-details__category-left
            カテゴリー
          .contents-details__category-right
            %li
              %p レディース
            %li
              =fa_icon "angle-right",class:"type__icon"
              %pバッグ
            %li  
              =fa_icon "angle-right",class:"type__icon"
              %pショルダーバッグ
        .contents-details__brand
          .contents-details__brand-left
            ブランド
          .contents-details__brand-right
            シャネル
        .contents-details__status
          .contents-details__status-left
            商品の状態
          .contents-details__status-right
            新品、未使用
        .contents-details__fee
          .contents-details__fee-left
            配送料の負担
          .contents-details__fee-right
            送料込み(出品者負担)
        .contents-details__method
          .contents-details__method-left
            配送の方法
          .contents-details__method-right
            未定
        .contents-details__area
          .contents-details__area-left
            配送元地域
          .contents-details__area-right
            大阪府
        .contents-details__date
          .contents-details__date-left
            発送日の目安
          .contents-details__date-right
            5−7日で発送
    .item-price
      %span.item-price-p
        ¥10,280 
      %span.item-price__tax
        (税込み）
      %span.item-price__fee
        送料込み
    .item_buy-btn
      = link_to"購入画面に進む",buyers_path,method: :get,class:"btn"
    .message
      ご覧頂きありがとうございます。(*´∇｀*)
      本革は、革本来の風合いを愉しむことができ、次のような特徴があります。バラキズ（引っかいたような小さな傷）、トラ（生きている間にできた皮膚のシワ）、色の濃度の違い。こちらは、天然皮革の為、表面に多少の傷、シワ、部分的なムラ、繊維の毛羽立ち、革匂い等がある場合がございます。革本来の風合いである模様（シワ、トラ、キズ、ムラ、）がそのままむき出しになっております。それらを自然から生まれた世界に一つの模様として受け入れて頂ければ幸いでございます。
      高さ 20cm X 横 26cm X マチ幅 14cm
      重さ:約0.5KG
      素材：天然牛革
      5 colors
      新品未使用
      素材の良さと機能性を兼ね備えた本革のバックがこの価格での提供はお買い得です。この機会にあなたのものにしてはいかがですか?
      日々頑張るあなたにこそ使ってほしいバッグです。
      ご覧頂く際の環境やお使いのパソコン環境及び携帯電話の動作環境などにより、商品画像の色が,実際の商品と若干異なる場合がございます。(╹ω╹ )
      購入者様のご都合、イメージ違いなどでの返品はお受けできません。m(._.)m
      上記にご理解の上、ご購入をお願い致します。
      発送前に検品していますが、明らかな不良があれば、その際は評価前にご連絡をお願いします。m(._.)m
    .item-button
      .item-button-left
        = fa_icon "heart-o"
        いいね！ 3
      .item-button-report
        = fa_icon "flag-o"
        不適切な商品の報告
      .item-button-right
        = fa_icon "lock"
        あんしん・あんぜんへの取り組み
  .comment
    .comment_block
      .comment_block-top
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment_block-text
        良い商品です。
      .comment_block-send-btn
        コメントする
    .nav_item-link
      .nav_item-link-left
        = fa_icon "angle-left"
        キティクロックスアクセサリー
      .nav_item-link-right
        クリスマス・プティング
        = fa_icon "angle-right"
    .links
      .links-box
        =link_to "https://www.facebook.com/" do 
          %i.fa.fa-facebook-square.links-box-fa-top
      
        =link_to "https://twitter.com/" do 
          %i.fa.fa-twitter-square.links-box-fa-mid
        
        =link_to "https://www.pinterest.jp/" do
          %i.fa.fa-pinterest-square.links-box-fa-low
  .bottom    
    .bottom-user-another-item
      イチゴ寺さんのその他の出品
    .bottom-same-category-item
      ショルダーバッグその他の商品
    
  .last
    メルカリ
    =fa_icon "angle-right"
    本革ショルダーバッグ 牛革レディース鞄 本革ハンドバッグ 天然牛革 安い激安
= render partial: "items/footer2"