= render partial: "items/header"
= render "layouts/flash-message"
.wrapper
  = render partial: "mypages/navigationbar"
  .mypage-new-card-contents
    .new-card-title
      %h2.new-card-title__title クレジットカード情報入力
    .new-card-detail
      = form_tag(pay_cards_path,method: :post,id: "charge-form",name:"inputForm") do
        .card-number
          .cards-number__title.title
            %h3{class:"side"} カード番号
            %p{class:"side"} 必須
            = text_field_tag "number","",class:"card-number__input",placeholder:"半角数字のみ",maxlength:"16",type:"text",id:"card_number"
          .card-icons
            = image_tag '/images/cards-icon.png',height:"20px",width:"200px;"
        .card-expiration
          .cards-expiration__title.title
            %h3{class:"side"} 有効期限
            %p{class:"side"} 必須
          .card-expiration__date
            .card-expiration__date-month
            %select#exp_month{name: "exp_month"}
              %option{value: ""} ---
              %option{value: "01"} 01
              %option{value: "02"} 02
              %option{value: "03"} 03
              %option{value: "04"} 04
              %option{value: "05"} 05
              %option{value: "06"} 06
              %option{value: "07"} 07
              %option{value: "08"} 08
              %option{value: "09"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
              月/
            .card-expiration__date-year
            %select#exp_year{name: "exp_year"}
              %option{value: ""} ---
              %option{value: "2019"} 19
              %option{value: "2020"} 20
              %option{value: "2021"} 21
              %option{value: "2022"} 22
              %option{value: "2023"} 23
              %option{value: "2024"} 24
              %option{value: "2025"} 25
              %option{value: "2026"} 26
              %option{value: "2027"} 27
              %option{value: "2028"} 28
              %option{value: "2029"} 29
              年 
        .card-security
          .cards-security__title.title
            %h3{class:"side"} セキュリティーコード
            %p{class:"side"} 必須
            =text_field_tag "cvc","",class:"card-security__input",placeholder:"カードの背面4桁もしくは3桁の番号",maxlength:"4",id:"cvc"
        .card-about
          = link_to root_path ,class: "card-link" do
            = fa_icon "question-circle"
            %p カード裏面の番号とは？
        .new-card-addcard__button#card_token
          =submit_tag "追加する",id:"token_submit"
= render partial: "items/footer"
