= render partial: "items/header"
= render "layouts/flash-message"
.wrapper
  = render partial: "mypages/navigationbar"
  .mypage-new-card-contents
    .new-card-title
      %h2.new-card-title__title クレジットカード情報入力
    .new-card-detail
      .card-number
        .cards-number__title.title
          %h3 カード番号
          %p 必須
        %input{ type: "text", placeholder:"半角数字のみ", class:"card-number__input"}
        .card-icons
          = image_tag '/images/cards-icon.png',height:"20px",width:"200px;"
      .card-expiration
        .cards-expiration__title.title
          %h3 有効期限
          %p 必須
        .card-expiration__date
          .card-expiration__date-month
            %form{action: "#", method: "GET"}
            %select{name: "content"}
              %option{value: ""} ---
              %option{value: "01"} 01
            月
          .card-expiration__date-year
            %form{action: "#", method: "GET"}
            %select{name: "content"}
              %option{value: ""} ---
              %option{value: "19"} 19
            年 
      .card-security
        .cards-security__title.title
          %h3 セキュリティーコード
          %p 必須      
        %input{ type: "text", placeholder:"カードの背面4桁もしくは3桁の番号", class:"card-security__input"}
      .card-about
        = link_to root_path ,class: "card-link" do
          = fa_icon "question-circle"
          %p カード裏面の番号とは？
      .new-card-addcard
        = link_to root_path do
          .new-card-addcard__button
            追加する
= render partial: "items/footer"
