= render partial: "items/header"
= render "layouts/flash-message"
.wrapper
  = render partial: "mypages/navigationbar"
  .cards-contents
    .cards-title
      %h2.cards-title__title 支払い方法
    .cards-detail
      %h3.cards-detail__title クレジットカード一覧
      .card-detail
        .card-icons
          .card-icon
            = fa_icon "credit-card"
          .card-delete.btn
          = form_tag(delete_cards_path,method: :post,id:"charge-form")
            %input{type:"hidden", name: "card_id",value:""}
            %button 削除する
        .card-detail__number
          %p
          = "**** **** ****" + @default_card_information.last4
        .card-detail__expiration
          %P
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month +  " / " + exp_year
      .card-add-newcard
        = link_to new_card_path do
          .card-add-newcard__button
            %p
              = fa_icon "credit-card"
              クレジットカードを追加する
    .cards-about
      = link_to root_path ,class: "cards-link " do
        %p 支払い方法について
        = fa_icon "angle-right"
= render partial: "items/footer"
